
header{
    background-color: aliceblue;
}

header .nav .nav-link.active{
    background-color: #0c0c0c;
    color: aliceblue;
}

header .nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #0c0c0c;
}

header .navbar-toggler{
    background-color: aliceblue;
}

.containerIMG {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
    width: 100%;
}
.carousel img{
    width: 100%;
}

.nav .nav-link.active{
    background-color: #0c0c0c;
}
.nav-link.active h3{
    color: aliceblue !important;
}

button .containerIMG {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
    width: 100%;
}

nav button {
    width: 150px;
}

.nav-tabs{
    border-color: transparent !important;
}
